{% extends "pred_app/home.html" %}
{% block content %}
<h3>About Project</h3>

<br>
    The stock market can be a confusing place for the average investor. But you don't need to be a hedge-fund manager or a billionaire to beat Wall Street at its own game.
    <br>    We seek to help the ordinary individual investor make intelligent investments by providing information that gives you an edge.
     <br>   PredStocks uses state of the art software to predict stock prices and generate trading "Buy-Sell" signals that will help you make your decision.
<br>
<br><br>
    <br>Our model is about predicting the Stock Market Shares. We are reffering stock data used for future prediction From Google Finance.
<br> In this model, we have created a Portfolio for reducing the risks associated with the stock market and proper analysis of shares is done...
<br>which is represented graphically as well as in tabular format.
<br>


<br>
<br>
<br>
<br>

{% endblock content %}
