<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" style="background-image: url(https://wallpapercave.com/wp/wp2800193.jpg);">

    <head>
        {% load static %}
        <title>
            PredStocks
        </title>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <!-- Bootstrap CSS -->
      <link rel="stylesheet" type = "text/css" href="{% static 'userRegistration/css/components.css' %}">
      <link rel="stylesheet" type = "text/css" href="{% static 'userRegistration/css/icons.css' %}">
      <link rel="stylesheet" type = "text/css" href="{% static 'userRegistration/css/responsee.css' %}">
      <link rel="stylesheet" type = "text/css" href="{% static 'userRegistration/owl-carousel/owl.carousel.css' %}">
      <link rel="stylesheet" type = "text/css" href="{% static 'userRegistration/owl-carousel/owl.theme.css' %}">
      <!-- CUSTOM STYLE -->
      <link rel="stylesheet" type = "text/css" href="{% static 'userRegistration/css/template-style.css' %}">
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <script type="text/javascript" src="{% static 'userRegistration/js/jquery-1.8.3.min.js' %}"></script>
      <script type="text/javascript" src="{% static 'userRegistration/js/jquery-ui.min.js' %}"></script>

    {%if title %}
        <title>PredStocks-{{title}}</title>
    {% else %}
        <title> PredStocks </title>
    {% endif %}

        <!-- get the required files from 3rd party sources -->
        <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
            <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
            <link href="{% static 'pred_app/css/style.css' %}" rel="stylesheet" type="text/css"/>
            <!-- Bootstrap -->
            <link href="{% static 'pred_app/css/bootstrap.css' %}" rel="stylesheet" type="text/css">
                <link href="{% static 'pred_app/fonts/font-awesome/css/font-awesome.css' %}" rel="stylesheet" type="text/css">
                    <link href="{% static 'pred_app/css/menusearch.css' %}" rel="stylesheet" type="text/css">
                        <!-- Stylesheet================================================== -->
                        <link href="{% static 'pred_app/css/style.css' %}" rel="stylesheet" type="text/css">
                            <link href="{% static 'pred_app/css/responsive.css' %}" rel="stylesheet" type="text/css">
                                <script src="{% static 'pred_app/js/modernizr.custom.js' %}" type="text/javascript">
                                </script>
                                <link href="http://fonts.googleapis.com/css?family=Raleway:500,600,700,100,800,900,400,200,300" rel="stylesheet" type="text/css">
                                    <link href="http://fonts.googleapis.com/css?family=Playball" rel="stylesheet" type="text/css">
                                        <script src="{% static 'pred_app/js/jquery.1.11.1.js' %}" type="text/javascript">
                                        </script>
                                        <script src="{% static 'pred_app/js/jquery-1.10.2.min.js' %}" type="text/javascript">
                                        </script>
                                        <script src="{% static 'pred_app/js/handlebars.js' %}">
                                        </script>
                                        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js" type="text/javascript">
                                        </script>
                                    </link>
                                </link>
                            </link>
                        </link>
                    </link>
                </link>
            </link>
        </link>
    </head>


<body>
<body class="size-1280 slide-to-left">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
        </script>
        <script src="{% static 'pred_app/js/jquery.1.11.1.js'%}" type="text/javascript">
        </script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static 'pred_app/js/bootstrap.js'%}" type="text/javascript">
        </script>
        <!-- Javascripts
    ================================================== -->
        <script src="{% static 'pred_app/js/typeahead.js'%}">
        </script>
        <script src="{% static 'pred_app/js/search.js'%}">
        </script>

        <nav class="slide-nav aside-nav">
    <ul>
        <li>
            <a href="{% url 'AboutProject' %}" class="btn btn-light btn-outline-secondary"> About</a>
        </li>
        <li>
            <a href="{% url 'portfolio' %}" class="btn btn-light btn-outline-secondary"> Portfolio</a>
        </li>
        <li><a>Volatile Shares</a></li>
    </ul>
    </li>
    <li><a>Transaction Validity</a></li>
    </ul>
</nav>

<section class="slide-content">
    <header>
        <!-- LOGO -->
        <nav>
            <div class="line">
                <div class="s-5 l-2 center">

                    <a class="navbar-brand mr-6 text-center" href="/">
                        Data Privacy
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <section class="text-center">

        <!-- CAROUSEL -->
{% block content %} {% endblock content%}
        <!-- FIRST BLOCK -->
        <div id="first-block" class="text-center">
            <div class="line">
                <div class="margin">
                    <div class="s-12 m-6 l-3 margin-bottom">

                        <h2 class="margin-bottom">About</h2>
                        <p>Stock Market Predection is one of the important exertions in Finance and Business. Technical analysis is done using historical data of stock prices by applying Machine Learning and future stocks are predicted.</p>
                    </div>
                    <div class="s-12 m-6 l-3 margin-bottom">

                        <h2 class="margin-bottom">Portfolio</h2>
                        <p>Portfolio is grouping of financial assets such as stocks and are held directly by investers and managed by financial professionals.</p>
                    </div>
                    <div class="s-12 m-6 l-3 margin-bottom">

                        <h2 class="margin-bottom">Volatile Shares</h2>
                        <p>Volatile Shares implies that if the volatility is high, stock's price moves a lot. Volatility is good for traders because it gives then opportunities.</p>
                    </div>
                    <div class="s-12 m-6 l-3 margin-bottom">

                        <h2 class="margin-bottom">Transaction Validity</h2>
                        <p>Transaction Validity.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer>
        <div class="line">
            <div class="s-12 l-6">
                <p>Stock Market Prediction</p>
            </div>
            <div class="s-12 l-6">
                <a class="right" title="Responsee - lightweight responsive framework"></a>
            </div>
        </div>
    </footer>
</section>
<script type="text/javascript" src="{% static 'userRegistration/js/responsee.js' %}"></script>
<script type="text/javascript" src="{% static 'userRegistration/owl-carousel/owl.carousel.js' %}"></script>
<script type="text/javascript">
        jQuery(document).ready(function($) {
          var owl = $('#header-carousel');
          owl.owlCarousel({
            nav: false,
            dots: true,
            items: 1,
            loop: true,
            navText: ["&#xf007","&#xf006"],
            autoplay: true,
            autoplayTimeout: 3000
          });
          var owl = $('#news-carousel');
          owl.owlCarousel({
            nav: false,
            dots: true,
            items: 1,
            loop: true,
            navText: ["&#xf007","&#xf006"],
            autoplay: true,
            autoplayTimeout: 3000
          });
        })
      </script>
</body>




</html>

<div class="clr">
</div>

<script type="text/javascript">
    function mouseOver() {
  document.getElementById("stocks_logo").style.color = "#fe001a";
  document.getElementById("preds_logo").style.color = "#97c950";
}
function mouseOut() {
  document.getElementById("stocks_logo").style.color = "#97c950";
  document.getElementById("preds_logo").style.color = "#fe001a";
}
</script>
