{% extends "portfolioOptimization/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<style>
.abc > tbody > tr:nth-of-type(even) {
        background-color: rgba(0,0,0,0);
}
</style>
<div class="row myr">
    <div class="col-3 myc" style="box-shadow:3px 3px 4px grey;">
        <div class="row myr" style="padding-top:50px;">
            <font class="border-bottom" style="padding-left:50px;" size="6">Build Your PortFolio</font>
        </div>
        <div class="row myr"  style="padding-top:20px;">
                    <div class="col myc">
                        <form  method="POST">
                            {% csrf_token %}
                            {%if messages %}
                            {%for message in messages%}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                            {% endfor %}
                            {% endif %}
                            {{ typ1 | crispy}}

                    </div>
                    <div class="col myc">
                        <div class="text-center"  style="padding-top:30px">
                            <input type="submit" class="btn btn-light btn-block btn-outline-primary" name="buy" value="Buy/Add" />
                        </div>
                        </form>
                    </div>
                </div>
        <div class="row myr" style="padding-top:10px;">
            <div class="table-wrapper-scroll-y my-custom-scrollbar" style="padding-left:10px;position: relative;height: 400px;width:400px;overflow: auto;">
                <table class="table table-hover abc">
                    <thead class="table-primary">
                    <tr>
                        <th scope="col"><font class="font-weight-bold" size="6">Portfolio</font></th>
                    </tr>
                    </thead>
                    <tbody>
                    {%for p in portfolio%}
                    <tr>
                        <td><font size="5">{{p}}</font></td>
                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </div>
            <div class="row myr">
            <div class="text-center"  style="width:350px;padding-left:70px;">
                    <input type="submit" class="btn btn-light btn-block btn-outline-primary" onclick="location.href='{% url 'results' %}'" name="results" value="Optimize" />
            </div>
            </div>

        </div>
        <div class="row myr">
            <div class="card" style="box-shadow:3px 3px 4px grey;">
                <div class="card-body" style="width:420px;box-shadow:3px 3px 4px grey;">
                    <div class="row myr1">
                        <font class="border-bottom font-weight-bold" style="padding-bottom:20px" size="4">
                            For having Annual Returns as calculated we suggest To Invest As Shown
                        </font>
                    </div>
                    <div class="row myr1">
                        <font class="border-bottom font-weight-bold" style="padding-left:150px" size="5">
                            Returns
                        </font>
                    </div>
                    <div class="row myr">
                        <h4 style="padding-left:170px">{{ r1 }}%</h4>
                    </div>
                </div>
                <div class="card-body" style="width:420px;box-shadow:1px 1px 4px grey;">
                    <div class="row myr1">
                        <font class="border-bottom font-weight-bold" style="padding-left:150px" size="5">
                            Volatility
                        </font>
                    </div>
                    <div class="row myr">
                        <h4 style="padding-left:170px">{{ v1 }}%</h4>
                    </div>
                </div>
            </div>
        </div>
{%for c in companies1%}
        <div class="row myr" style="width:420px;box-shadow:1px 1px 5px grey;">

            <div class="col myc">
                <h4>{{c}}</h4>
            </div>
            <div class="col myc">
                <h4>{{ companies1|get:c }}%</h4>
            </div>
        </div>
{%endfor%}
    </div>
    <div class="col myc">
        <!--        <div class="col-9 myc">-->
        <div class="row myr">
            <h1 style="padding-left:390px">Investment Proposition</h1>
        </div>
        <div class="row myr" >
            <h3 style="padding-left:30px;">For having a diverse investment we suggest to select stocks from different types below:</h3>
        </div>
        <div class="row myr">
            <div style="padding-left:520px;height:50px;">
                <button class="btn btn-outline-info btn-lg"  onclick="location.href='{% url 'getSuggestion' %}'" name="suggest"  type="submit">GET SUGESSIONS</button>
            </div>
        </div>
        <div class="row myr">
            <div class="col myc" style="padding-left:10px;padding-top:10px;">
                <div class="row myr">
                    <div class="col myc">
                        <form  method="POST">
                            {% csrf_token %}
                            {%if messages %}
                            {%for message in messages%}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                            {% endfor %}
                            {% endif %}
                            {{ typ1 | crispy}}

                    </div>
                    <div class="col myc">
                        <div class="text-center"  style="padding-top:30px">
                            <input type="submit" class="btn btn-light btn-block btn-outline-primary" name="cluster1" onclick="location.href='{% url 'results' %}'" value="Add To Portfolio" />
                        </div>
                        </form>
                    </div>
                </div>
                <div class="row myr">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar" style="padding-left:10px;position: relative;height: 500px;width:620px;overflow: auto;">
                        <table class="table table-hover">
                            <thead class="table-primary">
                            <tr>
                                <th scope="col"><font class="font-weight-bold" size="6">Cluster 1</font></th>
                            </tr>
                            </thead>
                            <tbody>
                            {%for key in type1%}
                            <tr>
                                <td><font size="5">{{key}}</font></td>
                            </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col myc" style="padding-left:10px;padding-top:10px;">
                <div class="row myr">
<div class="col myc">
                        <form  method="POST">
                            {% csrf_token %}
                            {%if messages %}
                            {%for message in messages%}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                            {% endfor %}
                            {% endif %}
                            {{ typ2 | crispy}}

                    </div>
                    <div class="col myc">
                        <div class="text-center" style="padding-top:30px">
                            <input type="submit" class="btn btn-light btn-block btn-outline-primary" name="cluster2" value="Add To Portfolio" />
                        </div>
                        </form>
                    </div>
                </div>
                <div class="row myr">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar" style="padding-left:10px;position: relative;height: 500px;width:620px;overflow: auto;">
                        <table class="table table-hover">
                            <thead class="table-primary">
                            <tr>
                                <th scope="col"><font class="font-weight-bold" size="6">Cluster 2</font></th>
                            </tr>
                            </thead>
                            <tbody>
                            {%for key in type2%}
                            <tr>
                                <td><font size="5">{{key}}</font></td>
                            </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row myr">
            <div class="col myc" style="padding-left:10px;padding-top:10px;">
                <div class="row myr">
                    <div class="col myc">
                        <form  method="POST">
                            {% csrf_token %}
                            {%if messages %}
                            {%for message in messages%}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                            {% endfor %}
                            {% endif %}
                            {{ typ3 | crispy}}

                    </div>
                    <div class="col myc">
                        <div class="text-center"  style="padding-top:30px">
                            <input type="submit" class="btn btn-light btn-block btn-outline-primary" name="cluster3" value="Add To Portfolio" />
                        </div>
                        </form>
                    </div>    </div>
                <div class="row myr">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar" style="padding-left:10px;position: relative;height: 500px;width:620px;overflow: auto;">
                        <table class="table table-hover">
                            <thead class="table-primary">
                            <tr>
                                <th scope="col"><font class="font-weight-bold" size="6">Cluster 3</font></th>
                            </tr>
                            </thead>
                            <tbody>
                            {%for key in type3%}
                            <tr>
                                <td><font size="5">{{key}}</font></td>
                            </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col myc" style="padding-left:10px;padding-top:10px;">
                <div class="row myr">
                    <div class="col myc">
                        <form  method="POST">
                            {% csrf_token %}
                            {%if messages %}
                            {%for message in messages%}
                            <div class="alert alert-danger">
                                {{ message }}
                            </div>
                            {% endfor %}
                            {% endif %}
                            {{ typ1 | crispy}}

                    </div>
                    <div class="col myc">
                        <div class="text-center"  style="padding-top:30px">
                            <input type="submit" class="btn btn-light btn-block btn-outline-primary" name="cluster4" value="Add To Portfolio" />
                        </div>
                        </form>
                    </div>

                </div>
                <div class="row myr">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar" style="padding-left:10px;position: relative;height: 500px;width:620px;overflow: auto;">
                        <table class="table table-hover">
                            <thead class="table-primary">
                            <tr>
                                <th scope="col"><font class="font-weight-bold" size="6">Cluster 4</font></th>
                            </tr>
                            </thead>
                            <tbody>
                            {%for key in type4%}
                            <tr>
                                <td><font size="5">{{key}}</font></td>
                            </tr>
                            {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--        </div>-->
    </div>
</div>
<!--    <h4>hello</h4>-->
<!--</div>-->
{% endblock content %}