{% extends 'userRegistration/base.html' %}
{% block title %}Change password{% endblock %}
{% block content %}
<div class="row" style="padding-top:100px">
<aside class="col-sm-4">
</aside> <!-- col.// -->
<aside class="col-sm-4">
<h2>Change Password</h2>
<div class="card" style="box-shadow :  10px 10px 5px grey">
{% if validlink %}
<article class="card-body">
<form method="post">
{% csrf_token %}
{% for field in form %}
<p>
{{ field.label_tag }}<br>
{{ field }}
{% for error in field.errors %}
<p style="color: red">{{ error }}</p>
{% endfor %}
</p>
{% endfor %}
<button type="submit" class="btn btn-outline-info" style="box-shadow :5px 5px 2.5px grey;">Submit</button>

</form>
</article>
{% else %}
<article class="card-body">
<p>
The password reset link was invalid, possibly because it has already been used.
Please request a new password reset.
</p>
</article>
{% endif %}
</div>
</aside>
<aside class="col-sm-4">
</aside> <!-- col.// -->
</div>
{% endblock %}