

{% extends "userRegistration/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="align-middle" style="padding-top:100px">
<div class="mx-auto" style="width: 400px">
  <div class="row mx-md-n10">
  <div class="col px-md-5"><div class="p-3 border bg-light" style="box-shadow :  10px 10px 5px grey"><div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Forget Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" style="box-shadow :5px 5px 2.5px grey;" type="submit">Submit</button>
            </div>
        </form>
    </div>
  </div>
  </div>
</div>

</div>

</div>


{% endblock content %}