{% extends 'userRegistration/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Change password{% endblock %}
{% block content %}
<div class="row" style="padding-top:75px">
    <div class="mx-auto" style="width: 500px">
  <div class="row mx-md-n10">
  <div class="col px-md-5"><div class="p-3 border bg-white" style="box-shadow :  10px 10px 5px grey"><div class="content-section">

<legend class="border-bottom mb-4" style="padding-left:100px">Change Password</legend>
<div class="container" style="padding-left:150px">
    <img src = "{%static "forgotPass.png" %}" heigh=100 width = 100 />
</div>
    {% if validlink %}

    <article class="card-body">
<form method="post">
{% csrf_token %}
{{ form | crispy }}
    <button type="submit" class="btn btn-outline-info btn-block" style="box-shadow :5px 5px 2.5px grey;">Submit</button>

</form>
</article>
{% else %}
<article class="card-body">
<p>
The password reset link was invalid, possibly because it has already been used.
Please request a new password reset.
</p>
</article>
{% endif %}
</div>
</aside>
<aside class="col-sm-4">
</aside> <!-- col.// -->
</div>
{% endblock %}