{% extends "userRegistration/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<style>
    </style>
<div  style="padding-top:30px; box-shadow:1px 1px 2px grey;">
    <div class="row myr justify-content-between">
        <div class="col-md-3 myc1"  style="padding-left:60px">
            <div class="row mynr justify-content-between">
                <div  style="width: 450px;height:1000px; box-shadow:1px 1px 2px grey;">
                    <div class="p-0" >
                <span class="border border-secoundary">
                    <div class="text-center" style="padding-left:80px">
                        <img class="rounded img-thumbnail"  src="{{ user.profile.image.url }}">
                    </div>
                </span>
                    </div>
                    <div class="text-center">
                        <h1 class="account-heading">{{ user.username }}</h1>
                        <p class="text-secondary">{{ user.email }}</p>
                    </div>
                    <div class="text-center">
                        <button type="button" class="btn btn-light btn-outline-secondary">Edit Profile</button>
                    </div>
                    <div style="padding-left:15px;padding-top:30px;">
                        <div class="card-body text-center" style="width:320px; box-shadow:1px 1px 2px grey;">
                            <h4>Manage Your PortFolio</h4>
                            <form  method="POST">
                                {% csrf_token %}
                                {%if messages %}
                                {%for message in messages%}
                                    <div class="alert alert-danger">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                                {% endif %}
                                {{form | crispy}}

                                <div class="text-center" style="padding-bottom:20px">
                                    <input type="submit" class="btn btn-light btn-block btn-outline-primary" name="buy" value="Buy/Add" />
                                </div>
                                <div class="text-center">
                                    <input type="submit" class="btn btn-light btn-block btn-outline-primary" name="sell" value="Sell" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 myc2">
            <div  style="box-shadow:1px 1px 2px grey;">
                <div class="btn-group btn-group-toggle btn-block btn-lg">
                    <a href="{% url 'portfolio' %}" class="btn btn-light btn-outline-secondary "><h5>PortFolio</h5></a>
                    <a href="{% url 'about' %}" class="btn btn-light btn-outline-secondary"  ><h5>About</h5></a>
                </div>
            </div>
<div class="card bg-light"style="padding-bottom:0px;box-shadow:5px 5px 2px grey;">
                <div class="card-body">

            <div class="row myr1">
                <div class="col-md myc">
                    <h2 class="text-center">PortFolio</h2>
                </div>
            </div>
                    <div class="card" style="padding-bottom:5px;">
                        <div class="card-body">
                            <div class="row myr1">
                                <div class="col-md-6 myc">
                                    <h4 class="text-center border-bottom" style="padding-top:0px">Invested</h4>
                                    <h5 class="text-center" style="padding-top:0px">{{ invest }}</h5>
                                </div>
                                <div class="col-md myc">
                                    <h4 class="text-center border-bottom" style="padding-top:0px">Current</h4>
                                    {% if current <= 0 %}
                                    <h5 class="text-center font-weight-bold text-danger" style="padding-top:0px">{{ current }}</h5>
                                    {% else %}
                                    <h5 class="text-center text-success" style="padding-top:0px">{{ current }}</h5>
                                    {% endif %}
                                </div>
                            </div>
                        </div></div>
                    <div class="card"style="box-shadow:5px 5px 2px grey;">
                        <div class="card-body">

                            <div class="row myr1">
                                <div class="col-md myc">
                                    <h4 class="text-center border-bottom" style="padding-top:0px">Profit/Loss</h4>
                                    {% if netPl <= 0 %}
                                        <h5 class="text-center text-danger" style="padding-top:10px">{{ netPl }}</h5>
                                    {% else %}
                                        <h5 class="text-center text-success" style="padding-top:10px">{{ netPl }}</h5>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
            {% for x in data %}
                    {% if x.Quantity > 0 %}
            <div class="card" style="box-shadow:3px 3px 4px grey;">
                <div class="card-body">
                    <div class="row myr1">
                        <div class="col-md-6 myc">
                            <h6 class="border-bottom" style="padding-left:25px">Quantity : {{ x.Quantity }}</h6>
                            <h5 class ="text-primary" style="padding-left:25px;padding-top:10px">{{ x.Name }}</h5>
                            <h6 style="padding-left:25px;padding-top:10px">Avg. Traded Price : {{ x.buyPrice }}</h6>
                        </div>
                        <div class="col-md myc">
                            <h6 class="border-bottom text-center">Invested : {{x.investment }}</h6>
                            {% if x.pl <= 0 %}
                                        <h5 class=" text-danger text-center" style="padding-top:10px">P/L : {{x.pl}}</h5>
                                    {% else %}
                                        <h5 class="text-success text-center" style="padding-top:10px">P/L : {{x.pl}}</h5>
                                    {% endif %}
                            <h6 class="align-bottom text-center" style="padding-top:10px">last Traded Price : {{x.livePrice }}</h6>
                        </div>
                    </div>
                </div>
            </div>
                    {% endif %}
            {% endfor %}
                    </div></div>
        </div>
    </div>
</div>

{% endblock content %}